body {
  background-color: black;
  margin: 0px;
  font-family: "Caveat", cursive;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

<<<<<<< HEAD
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
.navbar {
  font-size: 1.2rem;
}

.title-img {
  width: 90%
=======
.nav-font {
  font-size: 1.4em;
>>>>>>> 878cbf5b7a9bef7f7a1ac1cdbacba342a844e479
}